

.about-section-grid {
  --grid-color: rgba(255, 0, 60, 0.2); 
  --grid-size: 40px;                     
  --background-color: #0a0a0a;         

  background-color: var(--background-color);
  background-image: 
    
    linear-gradient(var(--grid-color) 1px, transparent 1px),

    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);

  border-top: 1px solid var(--grid-color);
  box-shadow: inset 0 10px 25px -5px rgba(0, 0, 0, 0.7);
}



.background-grid {
  background-image: 
    linear-gradient(rgba(255, 0, 60, 0.2) 1px, transparent 1px), 
    linear-gradient(90deg, rgba(255, 0, 60, 0.2) 1px, transparent 1px);
  background-size: 25px 25px;
}